

<h2 tabindex="-1" #componentHeading>Tooltip</h2>
<p>Focus the following link to see the tooltip</p>
<a 
  href="#" 
  *ngIf="show" 
  [attr.aria-describedby]="id"
  (click)="mockNavigate($event)" 
  (focus)="open()" 
  (blur)="close()" 
  (mouseover)="open()" 
  (mouseout)="close()" 
  (keyup.escape)="close()"
>
link with tooltip and with aria-describedby
</a>

<a 
  href="#" 
  *ngIf="!show" 
  (click)="mockNavigate($event)" 
  (focus)="open()" 
  (blur)="close()" 
  (mouseover)="open()" 
  (mouseout)="close()" 
  (keyup.escape)="close()"
>
link with tooltip and without aria-describedby
</a>

<div 
  id="tooltip" 
  role="tooltip" 
  *ngIf="show" 
  [attr.aria-hidden]="ariaHidden"
>
lorem impsum dolar
</div>
