
<!-- BEGIN Application Container used to separate the app from the modal  -->
<div>

  <!--
    * Do not use aria-hidden="false" due to lack of support. 
    * See https://www.w3.org/TR/wai-aria-1.1/#aria-hidden
    * Use boolean true or empty string
  -->

  <header>
    <h1>{{appTitle}}</h1>
    <nav>
      <ul>
        <li><a routerLink="/home">Home</a></li>
        <li><a href="#" (click)="showModal($event)" #showModalLink>Modal</a></li>
        <li><a routerLink="/accordion">Accordion</a></li>
        <li><a routerLink="/reverseAccordion">Reverse Accordion</a></li>
        <li><a routerLink="/tooltip">Tooltip</a></li>
        <li><a routerLink="/alert">Alert</a></li>
        <li><a routerLink="/listboxDemo">Listbox Demo</a></li>
        <li><a routerLink="/combobox">Combobox</a></li>
      </ul>
    </nav>
  </header>

 
  <section id="content">
    <router-outlet></router-outlet>
  <!-- Routed views go here -->
  </section>

</div>
<!-- END Application Container used to separate the app from the modal  -->

<app-modal 
  *ngIf="modalShouldBeVisible" 
  (modalCloseButtonActivated)="closeModal()"
>
</app-modal>

